In [1]:
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt

In [2]:
test_df = pd.read_csv("test.csv")
train_df = pd.read_csv("train.csv")

In [3]:
data = [train_df, test_df]

for dataset in data:
    mean = train_df["Age"].mean()
    std = test_df["Age"].std()
    is_null = dataset["Age"].isnull().sum()
    # compute random numbers between the mean, std and is_null
    rand_age = np.random.randint(mean - std, mean + std, size = is_null)
    # fill NaN values in Age column with random values generated
    age_slice = dataset["Age"].copy()
    age_slice[np.isnan(age_slice)] = rand_age
    dataset["Age"] = age_slice
    dataset["Age"] = train_df["Age"].astype(int)
    
train_df["Age"].isnull().sum()

0

In [4]:
common_value = 'S'
data = [train_df, test_df]

for dataset in data:
    dataset['Embarked'] = dataset['Embarked'].fillna(common_value)

In [5]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [6]:
train_df = train_df.drop(['Ticket'], axis=1)
test_df = test_df.drop(['Ticket'], axis=1)

In [7]:
train_df = train_df.drop(['Name'], axis=1)
test_df = test_df.drop(['Name'], axis=1)

In [8]:
train_df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,male,22,1,0,7.2500,NaN,S
1,2,1,1,female,38,1,0,71.2833,C85,C
2,3,1,3,female,26,0,0,7.9250,NaN,S
3,4,1,1,female,35,1,0,53.1000,C123,S
4,5,0,3,male,35,0,0,8.0500,NaN,S

In [9]:
y_target = train_df['Survived']
# Y_target.reshape(len(Y_target),1)
x_train = train_df[['Pclass', 'Age', 'Sex', 'SibSp', 'Parch', 'Fare','Embarked']]

x_train.head()

   Pclass  Age     Sex  SibSp  Parch     Fare Embarked
0       3   22    male      1      0   7.2500        S
1       1   38  female      1      0  71.2833        C
2       3   26  female      0      0   7.9250        S
3       1   35  female      1      0  53.1000        S
4       3   35    male      0      0   8.0500        S

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
fare = pd.DataFrame(x_train['Fare'])
new= sc.fit_transform(fare)
x_train['Fare'] = new

C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [11]:
x_train.head()

   Pclass  Age     Sex  SibSp  Parch      Fare Embarked
0       3   22    male      1      0 -0.502445        S
1       1   38  female      1      0  0.786845        C
2       3   26  female      0      0 -0.488854        S
3       1   35  female      1      0  0.420730        S
4       3   35    male      0      0 -0.486337        S

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
age = pd.DataFrame(x_train['Age'])
new= sc.fit_transform(age)
x_train['Age'] = new

C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [13]:
x_train.head()

   Pclass       Age     Sex  SibSp  Parch      Fare Embarked
0       3 -0.543805    male      1      0 -0.502445        S
1       1  0.639419  female      1      0  0.786845        C
2       3 -0.247999  female      0      0 -0.488854        S
3       1  0.417564  female      1      0  0.420730        S
4       3  0.417564    male      0      0 -0.486337        S

In [14]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
sex = pd.DataFrame(x_train['Sex'])
x_train['Sex']= le.fit_transform(sex)

C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [15]:
x_train.head()

   Pclass       Age  Sex  SibSp  Parch      Fare Embarked
0       3 -0.543805    1      1      0 -0.502445        S
1       1  0.639419    0      1      0  0.786845        C
2       3 -0.247999    0      0      0 -0.488854        S
3       1  0.417564    0      1      0  0.420730        S
4       3  0.417564    1      0      0 -0.486337        S

In [16]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
emb = pd.DataFrame(x_train['Embarked'])
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x_train['Embarked'] = np.array(ct.fit_transform(emb))

C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [17]:
x_train.head()

   Pclass       Age  Sex  SibSp  Parch      Fare  Embarked
0       3 -0.543805    1      1      0 -0.502445       0.0
1       1  0.639419    0      1      0  0.786845       1.0
2       3 -0.247999    0      0      0 -0.488854       0.0
3       1  0.417564    0      1      0  0.420730       0.0
4       3  0.417564    1      0      0 -0.486337       0.0

In [18]:
from sklearn.ensemble import RandomForestClassifier

In [19]:
x_test = test_df[['Pclass', 'Age', 'Sex', 'SibSp', 'Parch', 'Fare','Embarked']]

In [20]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
age = pd.DataFrame(x_test['Age'])
new= sc.fit_transform(age)
x_test['Age'] = new

C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [21]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
sex = pd.DataFrame(x_test['Sex'])
x_test['Sex']= le.fit_transform(sex)

C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [22]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
emb = pd.DataFrame(x_test['Embarked'])
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
x_test['Embarked'] = np.array(ct.fit_transform(emb))

C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [23]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
fare = pd.DataFrame(x_test['Fare'])
new= sc.fit_transform(fare)
x_test['Fare'] = new

C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [24]:
x_test.head()

   Pclass       Age  Sex  SibSp  Parch      Fare  Embarked
0       3 -0.493873    1      0      0 -0.497811       0.0
1       3  0.719581    0      1      0 -0.512660       0.0
2       2 -0.190509    1      0      0 -0.464532       0.0
3       3  0.492058    1      0      0 -0.482888       0.0
4       3  0.492058    0      1      1 -0.417971       0.0

In [25]:
x_test.fillna(x_train.mean(), inplace=True)

random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(x_train, y_target)

Y_prediction = random_forest.predict(x_test)

random_forest.score(x_train, y_target)
acc_random_forest = round(random_forest.score(x_train, y_target) * 100, 2)
print(acc_random_forest)

C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\pandas\core\series.py:4523: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

98.65

In [26]:
xx = pd.read_csv("gender_submission.csv")

In [27]:
y_test = xx['Survived']

In [28]:
print(random_forest.score(x_test, y_test))

0.84688995215311

In [29]:
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB

In [30]:
logreg = LogisticRegression()
logreg.fit(x_train, y_target)

Y_pred = logreg.predict(x_test)

acc_log = round(logreg.score(x_train, y_target) * 100, 2)
print(acc_log)

80.25

In [31]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(x_train, y_target)  
Y_pred = knn.predict(x_test)  
acc_knn = round(knn.score(x_train, y_target) * 100, 2)
print(acc_knn)

86.76

In [32]:
gaussian = GaussianNB() 
gaussian.fit(x_train, y_target) 
Y_pred = gaussian.predict(x_test) 
acc_gaussian = round(gaussian.score(x_train, y_target) * 100, 2)
print(acc_gaussian)

79.24

In [33]:
linear_svc = LinearSVC()
linear_svc.fit(x_train, y_target)

Y_pred = linear_svc.predict(x_test)

acc_linear_svc= round(linear_svc.score(x_train, y_target) * 100, 2)
print(acc_linear_svc)

80.58

C:\Users\91942\Anaconda3\envs\ml\lib\site-packages\sklearn\svm\_base.py:977: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

In [34]:
from sklearn.model_selection import cross_val_score
rf = RandomForestClassifier(n_estimators=100)
scores = cross_val_score(rf, x_train, y_target, cv=10, scoring = "accuracy")

In [35]:
print("Scores:", scores)
print("Mean:", scores.mean())
print("Standard Deviation:", scores.std())

Scores: [0.7        0.78651685 0.75280899 0.85393258 0.87640449 0.83146067
 0.82022472 0.79775281 0.84269663 0.83146067]
Mean: 0.8093258426966292
Standard Deviation: 0.04949957885711698